.notes {
    border-color: #eb4336;
    border-width: thick;
    min-height: 35em;
    min-width: 30em;
    resize: both;
    overflow: auto;
    max-height: 475px;
    max-width: 785px;
}

.title {
    color: #4085f0;
}

button:hover{
    background-color: #f1b425;
}